In [1]:
import pandas
 
# reading the CSV file
d2015 = pandas.read_csv('C:\\Users\\rohan.fouzdar\\Downloads\\d2015.csv')
 
# displaying the contents of the CSV file
print(d2015.shape)

(85504, 28)

C:\Users\rohan.fouzdar\AppData\Local\Temp\ipykernel_19884\3728559063.py:4: DtypeWarning: Columns (1,25) have mixed types. Specify dtype option on import or set low_memory=False.
  d2015 = pandas.read_csv('C:\\Users\\rohan.fouzdar\\Downloads\\d2015.csv')

In [2]:
d2015.head()

,match_id,season,start_date,year,venue,innings,ball,batting_team,bowling_team,striker,...,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs_on_ball,Over,overkey,runs_in_over,runs_in_over.1
0,829733,2015,18-04-2015,2015,Maharashtra Cricket Association Stadium,1,0.1,Kings XI Punjab,Kolkata Knight Riders,M Vijay,...,NaN,NaN,NaN,NaN,NaN,0,1,82973320151.0,2,2
1,829733,2015,18-04-2015,2015,Maharashtra Cricket Association Stadium,1,0.2,Kings XI Punjab,Kolkata Knight Riders,M Vijay,...,NaN,NaN,NaN,NaN,NaN,0,1,82973320151.0,2,2
2,829733,2015,18-04-2015,2015,Maharashtra Cricket Association Stadium,1,0.3,Kings XI Punjab,Kolkata Knight Riders,M Vijay,...,NaN,NaN,NaN,NaN,NaN,0,1,82973320151.0,2,2
3,829733,2015,18-04-2015,2015,Maharashtra Cricket Association Stadium,1,0.4,Kings XI Punjab,Kolkata Knight Riders,M Vijay,...,NaN,caught,M Vijay,NaN,NaN,0,1,82973320151.0,2,2
4,829733,2015,18-04-2015,2015,Maharashtra Cricket Association Stadium,1,0.5,Kings XI Punjab,Kolkata Knight Riders,WP Saha,...,NaN,NaN,NaN,NaN,NaN,0,1,82973320151.0,2,2

In [3]:
d2015['year'].value_counts()

2020    14559
2019    14312
2018    14286
2016    14096
2017    13862
2015    13652
2021      737
Name: year, dtype: int64

In [4]:
d2015=d2015[d2015['year']!=2021]

In [5]:
d2015['year'].value_counts()

2020    14559
2019    14312
2018    14286
2016    14096
2017    13862
2015    13652
Name: year, dtype: int64

In [6]:
dBLR=d2015[d2015.venue=='M Chinnaswamy Stadium'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dMCA=d2015[d2015.venue=='Maharashtra Cricket Association Stadium'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dDEL=d2015[d2015.venue=='Arun Jaitley Stadium'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dKOL=d2015[d2015.venue=='Eden Gardens'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dCHE=d2015[d2015.venue=='MA Chidambaram Stadium'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dMUM=d2015[d2015.venue=='Wankhede Stadium'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dGUJ=d2015[d2015.venue=='Sardar Patel Stadium, Motera'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dLUC=d2015[d2015.venue=='Green Park'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dRAJ=d2015[d2015.venue=='Sawai Mansingh Stadium'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dHYD=d2015[d2015.venue=='Rajiv Gandhi International Stadium'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()
dPUN=d2015[d2015.venue=='Punjab Cricket Association Stadium, Mohali'].groupby(["venue","year","Over"])['runs_in_over'].mean().to_frame().reset_index()

In [7]:
dBLR1=dBLR.pivot(index='Over',columns='year',values='runs_in_over')
dMCA1=dMCA.pivot(index='Over',columns='year',values='runs_in_over')
dDEL1=dDEL.pivot(index='Over',columns='year',values='runs_in_over')
dKOL1=dKOL.pivot(index='Over',columns='year',values='runs_in_over')
dCHE1=dCHE.pivot(index='Over',columns='year',values='runs_in_over')
dMUM1=dMUM.pivot(index='Over',columns='year',values='runs_in_over')
dGUJ1=dGUJ.pivot(index='Over',columns='year',values='runs_in_over')
dLUC1=dLUC.pivot(index='Over',columns='year',values='runs_in_over')
dRAJ1=dRAJ.pivot(index='Over',columns='year',values='runs_in_over')
dHYD1=dHYD.pivot(index='Over',columns='year',values='runs_in_over')
dPUN1=dPUN.pivot(index='Over',columns='year',values='runs_in_over')

In [8]:
dBLR1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dBLR1.csv',sep=',',index=False)
dMCA1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dMCA1.csv',sep=',',index=False)
dDEL1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dDEL1.csv',sep=',',index=False)
dKOL1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dKOL1.csv',sep=',',index=False)
dCHE1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dCHE1.csv',sep=',',index=False)
dMUM1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dMUM1.csv',sep=',',index=False)
dGUJ1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dGUJ1.csv',sep=',',index=False)
dLUC1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dLUC1.csv',sep=',',index=False)
dRAJ1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dRAJ1.csv',sep=',',index=False)
dHYD1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dHYD1.csv',sep=',',index=False)
dPUN1.to_csv('C:\\Users\\rohan.fouzdar\\Downloads\\dPUN1.csv',sep=',',index=False)

In [9]:
dBLR1.head()

year       2015       2016      2017      2018      2019
Over
1      6.761364   6.666667  6.610000  5.494118  9.898876
2     10.294872   6.333333  6.867347  8.390805  9.034091
3      9.013158   7.285714  7.940594  8.827586  8.837209
4      7.821918   9.567568  7.949495  8.057471  9.511905
5      8.452055  10.288288  7.393939  8.632184  9.536585